@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800');

html{
    width: 100vw;
}
body
{
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow-x: hidden;
}

.content{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

/* HEADER */

header{
    max-width: 1400px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 61px;
    height: 19px;
    margin-top: 24px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    width: 280px;
    margin: 0;
    position: relative;
    top: 2px;
}

nav li{
    padding-top: 40px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

nav li:hover{
    border-top: solid #0065FC 2px;
    margin-top: -2px;
}

nav a:hover{
    color: #0065FC;
}

nav li:focus{
    border-top: solid #0065FC 2px;
}

nav a:focus{
    color: #0065FC;
}

